* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: rgb(199, 204, 198);
    width: 100vw;
    height: 100vh;
    position: relative;
}

.mydivs {
    height: 100vh;
    overflow: hidden;
}

/* Navigation */

#top-nav-bg {
    width: 100vw;
    height: 8vh;
    background-color: rgba(80, 79, 79, 0.7);
    position: fixed;
    z-index: 1000;
}

.top-nav {
    position: fixed;   
    z-index: 1000;
}

.top-nav-list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    padding-top: 2vh;
    text-align: center;
    z-index: 1000;
}

.top-list-items {
    display: inline;
    padding: 5px;
    font-size: 16px;
}

.top-list-items .href {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.href:hover {
    color: orange;
}

.href:active {
    color: green;
}

.side-href {
    text-decoration: none;
    color: black;
}

.side-list-items:hover {
    background-color: darkgray;
    color: orange;
    padding: 2px;
}

.btn-styling1 {
    width: 25px;
    height: 25px;
    padding: 2px;
    background-color: rgba(3, 3, 3, 0.3);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.openSideNavBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    color: white;
}

.side-nav {
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    height: 99vh;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
}

.wrap-black {
    background-color: rgb(34, 31, 31);
    width: 27vw;
    /* max-width: 480px; */
    transition-delay: 0.2s;
}

.wrap-white {
    background-color: white;
    width: 25vw;
    padding: 40px;
    position: relative;
}
.btn-styling2 {
    width: 25px;
    height: 25px;
    padding: 2px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden;
}
.closeSideNavBtn {
    opacity: 0.5;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
}

.side-nav-list {
    list-style-type: none;
}

.side-list-items {
    margin: 20px 0;
}

.href-side-top {
    font-weight: 900;
    text-decoration: none;
    color: rgb(34, 31, 31);
}

.href-side-top:hover {
    color: orange;
}


.visible {
    transform: translateX(0);
}


/* For Responsiveness */

@media screen and (min-width: 320px) and (max-width: 600px) {
    #top-nav-bg {
        height: 6%;
        /* background-color: rgb(53, 51, 51); */
        background-color: rgba(80, 79, 79, 0);
    }    
    .top-nav {
        display: none;
    }

    .top-list-items {
        display: inline;
        padding: 5px;
        font-size: 12px;
    }

    .wrap-black {
        background-color: rgb(34, 31, 31);
        width: 40vw;
        transition-delay: 0.2s;
    }

    .wrap-white {
        width: 36vw;
        padding: 5px;
        padding-top: 20px;
        position: relative;
    }

    .side-list-items {
        margin: 16px 0;
    }

    .side-href {
        font-size: 12px;
    }

    .href-side-top {
        margin-top: 30px;
        font-size: 12px;
        color: rgb(34, 31, 31);
    }

    .closeSideNavBtn {
        position: absolute;
        top: 6px;
        right: 6px;
        font-size: 18px;
        overflow: hidden;
    }
}


@media screen and (min-height: 320px) and (max-height: 420px) {
    #top-nav-bg {
        height: 6.5%;
        background-color: rgb(53, 51, 51);
    }
    .href{
        font-size: 12px;
    }
    .btn-styling {
        font-size: 12px;
    }
    .top-nav-list {       
        right: 5px;
        margin-top: 5px;
    }
}




/* Page1 */
#div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
#profile-pic {
    width: 210px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
}

#profile-pic img {
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
}
.p1_content{
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#div1 h1{
    color: black;
    text-shadow: 5px 5px 10px white;
    padding: 0 10px 10px;
}
#div1 i{
    color: black;
    font-weight: 700;
    font-size: 14px;
}

/* Footer */
.footer{
    width: 100vw;
    height: 8vh;
    margin-top: 10vh;
} 
.footer_cont{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.mobile_num{
    font-size: 14px;
    font-weight: 700;
    color: black;
    text-shadow: 2px 2px 3px white;
    padding: 5px 20px 5px;
}
.email_id{
    font-size: 14px;
    font-weight: 700;
    color: black;
    text-shadow: 2px 2px 3px white;
    padding: 5px 20px 5px;
}
.linkedin img{
    width: 25px;
    height: 25px;
}
.linkedin{
    padding: 0 20px 0;
}
.github img{
    width: 25px;
    height: 25px;
}
.github{
    padding: 0 20px 0;
}

/* Responsiveness Page-1 and footer*/
@media screen and (min-width: 200px) and (max-width: 600px){
    #div1 i{
        font-size: 12px;
    }
    #div1 h1 {
        font-size: 28px;
        margin: 5px;
    }
    .footer{
        height: 6vh;
        margin-top: 20vh;
    }
    .footer_cont{
        padding: 8px 5px 0;
        height: 6vh;
    }
    .mobile_num{
        font-size: 12px;
        font-weight: 700;
        padding: 2px 10px 2px;
    }
    .email_id{
        font-size: 12px;
        font-weight: 700;
        padding: 2px 10px 2px;
    }
    .linkedin img{
        width: 20px;
        height: 20px;
    }
    .linkedin{
        padding: 0 10px 0;
    }
    .github img{
        width: 20px;
        height: 20px;
    }
    .github{
        padding: 0 10px 0;
    } 
}



/* Page-2 */
#div2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("./images/computer.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

.p2_content{
    background-color: rgba(3, 3, 3, 0.7);
    height: 100vh;
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
}

#div2 div img {
    width: 100px;
    height: 100px;
    margin-top: 10%;
}

#div2 div h1 {
    color: orange;
    margin: 30px auto 30px;
    font-size: 1.6rem;
    text-transform: uppercase;
}

#div2 div p {
    color: white;
    letter-spacing: 0.2px;
    font-size: 1rem;
    line-height: 1.6;
}

/* Page-3 */
#div3 {
    position: relative;
    background-image: url("./images/skillss.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.skill-title {
    text-align: center;
}

.skill-title h1 {
    color: orange;
    text-shadow: 2px 2px 4px black;
    margin-top: 9vh;
    text-transform: uppercase;
}

.skill-set {
    display: flex;
    justify-content: space-evenly;
}

.skills {
    background-color: rgb(247, 202, 120, 1);;
    width: 8vw;
    height: 85px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: black;
    border-radius: 5px;
    margin: 20px;
}

.skills img {
    width: 40px;
    height: 40px;
}

.skills h3 {
    margin: 4px;
    font-size: 16px;
    text-shadow: 1px 1px 1.5px white;
    overflow: hidden;
}

.skills p {
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 600;
}
.p3-lower-part{
    width: 100vw;
    height: 84vh;
    margin-top: 2vh;
}
.p3-lower-part-inner{
    width: 60vw;
    height: 80vh;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(221, 216, 216, 0.7);
    box-shadow: 5px 5px 10px black,  -5px -5px 10px black;
}
.p3_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    overflow: hidden;
}
.p3_cont h2{
    color: black;
    font-size: 18px;
    margin-top: 5px;
}

/* For Responsiveness Page-3 */

@media screen and (min-width: 350px) and (max-width: 540px){
    #div3{
        background-image: url("./images/skillss1.jpg");
        background-size: 100% 100%;
    }
    .skill-title h1 {
        text-shadow: 2px 2px 4px black;
        margin-top: 4vh;
    }
    .skill-set {
        display: flex;
        justify-content: space-between;
    }
    .skills {
        width: 20vw;
        height: 10vh;
        overflow: auto;
        margin-top: 5px;
        margin: 5px;
    }
    .skills img {
        width: 22px;
        height: 22px;
    }
    .skills h3{
        font-size: 12px;
        margin: 2px;
        overflow: hidden;
    }
    .p3-lower-part{
        width: 100vw;
        height: 84vh;
        margin-top: 2vh;
    }
    .p3-lower-part-inner{
        align-items: center;
        width: 90vw;
        height: 60vh;
        margin-top: 10vh;
        margin-left: 5vw;
        background-color: rgba(221, 216, 216, 0.7);
        box-shadow: 5px 5px 10px black,  -5px -5px 10px black;
        border-radius: 8px;
    }
    .p3_cont{
        align-items: center;
        margin-top: 10px;
    }
    .p3_cont h2{
        color: black;
        font-size: 18px;
        /* margin-left: 8px; */
        padding-bottom: 5px;
        text-align: center;
        margin-left: 0;
    }
}


/* Page-education */
#div6 {
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    background-image: url("./images/edu1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.p6_heading{
    color: orange;
    text-shadow: 2px 2px 4px black;
    margin-top: 10vh;
    text-transform: uppercase;
}
.p6_desc{
    margin-top: 4vh;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
.p6_details{
    width: 50vw;
    height: 18vh;
    /* padding: 5px; */
    margin-bottom: 4vh;
    margin-top: 5px;
    background-color: rgba(221, 216, 216, 0.6);
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 5px 5px 6px black,  -5px -5px 6px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.p6_details h3{
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;

}
.p6_details_inner{
    font-size: 12.5px;
    font-style: italic;
    width: 25vw;
    position: absolute;
    top: 6.5vh;
}
pre{
    text-align: center;
}



@media screen and (min-width: 350px) and (max-width: 540px){
    #div6{
        background-image: url("./images/education.jpg"); 
        background-size: cover;
    }
    .p6_heading{
        margin-top: 4vh;
    }
    .p6_desc{
        margin-top: 5vh;
        height: 70vh;
        margin-bottom: 5vh;
    }
    .p6_details{
        width: 95vw;
        height: 15vh;
        margin-bottom: 3vh;
        background-color: rgba(252, 243, 243, 0.7);
        box-shadow: 2px 2px 4px orange,  -2px -2px 4px orange;
        text-align: center;
    }
    .p6_details h3{
        font-size: 12px;
        margin-top: 8px;
    }
    .p6_details_inner{
        font-size: 12px;
        width: 80vw;
        top: 5vh;
    }
}


/* Page-4 */
#div4 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-image: url("./images/projectt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#div4 h1{
    margin-top: 9vh;
    color: orange;
    text-shadow: 2px 2px 4px black;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
}
#div4 p{
    color: white;
}
#div4_content{
    height: 100vh;
    width: 100vw;
}
.project_list{
    margin-top: 2.5vh;
    padding: 10px;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration-style: none;
    list-style-type: none;
}
.project_listitem{
    padding: 20px;
    width: 50vw;
    margin-bottom: 10px;
    background-color: rgba(1, 1, 1, 0.8);
    box-shadow: 5px 5px 10px white;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 22px;
    position: relative;
    overflow: hidden;
}
.project_links{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
.project_links:hover{
    color: orange;
}
.fa-arrow-right{
    position: absolute;
    right: 20px;
}

/* 
For Responsiveness of Page-4 */
@media screen and (min-width: 350px) and (max-width: 540px){
    #div4 {
        background-image: url("./images/project.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    #div4 h1{
        margin-top: 4vh;
    } 
    .project_listitem{
        padding: 20px 10px 20px;
        width: 90vw;
        font-size: 18px;
    }
    .project_links{
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    .fa-arrow-right{
        position: absolute;
        right: 15px;
    }
}






/* Page-5 */
#div5 {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("./images/computer.jpg");
    background-position: center;
    background-size: cover;

}

#div5-content {
    background-color: rgba(3, 3, 3, 0.3);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

#div5-content h1 {
    color: orange;
    text-shadow: 2px 2px 4px black;
    margin-top: 9vh;
    margin-bottom: 10px;
    padding: 2px;
}
.div5-form{
    margin-bottom: 20vh;
}
#div5-content p {
    color: white;
    font-size: 0.8rem;
    padding: 2px;
    margin-bottom: 8px;
    text-shadow: 1px 1px 2px black;
}

#name, #email, #btn {
    width: 50vw;
    height: 5vh;
    margin: 3px;
    padding: 1.5px;
}
#btn{
    background-color: grey;
    font-weight: 600;
    border: none;
}

#btn:hover {
    background-color: rgb(247, 202, 120);
    border: none;
    outline: none;
    cursor: pointer;
}

#msg {
    width: 50vw;
    margin: 3px;
    font-family: inherit;
    padding: 1.5px;
}

form input:focus {
    outline: none;
}

form textarea:focus {
    outline: none;
}


/* For Responsivenss */
@media screen and (min-width: 359px) and (max-width: 540px) {
    /* Page-2 */
    #div2 div img {
        margin-top: 15%;
        width: 80px;
        height: 80px;
    }
    #div2 div p{
        text-align: justify;
        font-size: 15px;
    }


    /* Page-4    */
    #div5-content {
        padding-left: 5%;
        padding-right: 5%;
    }
    #div5-content h1 {
        margin-top: 4vh;
        padding: 2px;
    }
    .div5-form{
        margin-bottom: 25vh;
    }
    #div5-content p {
        font-size: 0.6rem;
        padding: 2px;
    }
    #name, #email, #btn {
        width: 74vw;
        padding: 1.5px;
    }
    #msg {
        width: 74vw;
    }
}

@media screen and (min-height: 360px) and (max-height: 600px){
    #div1 h1 {
        margin: 0.8rem;    
    }
    #div1 i {
        font-size: 1.2rem;
    }
    
    #div1 p {
        margin-top: 0.5rem;
        letter-spacing: 0.2px;
        font-size: 1rem;
    }
}