* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: rgb(199, 204, 198);
}

.mydivs {
    height: 100vh;
    overflow: hidden;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6 {
    display: none;
    position: absolute;
    /* important */
}

.arrow-down::after {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 32rem;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 4px solid rgba(230, 110, 31, 0.8);
    border-bottom: 4px solid rgba(230, 110, 31, 0.8);
    transform: rotate(45deg);
    cursor: pointer;
}


#div1 {
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.p1_img{
    width: 50vw; 
    overflow: hidden;
}
.p1_img img{
    width: 50vw;
    height: 100vh;
}
.p1_content{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(1, 1, 1, 0.8);
    /* background-color: rgba(189, 247, 177, 0.4); */
}
#div1 h1{
    color: orange;
    text-shadow: 5px 5px 10px black;
    padding: 0 10px 10px;
}
#div1 i{
    color: white;
    text-shadow: 4px 4px 8px black;
    font-weight: 700;
    font-size: 14px;
}
#div1 p{
    color: orange;
    text-shadow: 1px 1px 2px black;
    padding: 10px;
}


@media screen and (min-width: 1115px){
    .p1_content{
        width: 50vw;
    }
}
@media screen and (min-width: 200px) and (max-width: 600px){
    #div1{
        display: flex;
        flex-direction: column;
    }
    .p1_img{
        width: 100vw; 
        overflow: hidden;
    }
    .p1_img img{
        width: 100vw;
        height: 50vh;
    }
    .p1_content{
        width: 100vw;
        height: 50vh;
        padding: 10px;
        background-color: rgba(1, 1, 1, 0.8);
        /* background-color: rgba(189, 247, 177, 0.4); */
    }
    #div1 i{
        font-size: 14px;
    }
    #div1 h1 {
        font-size: 28px;
        margin: 5px;
    }
    #div1 p {
        margin-top: 0.5rem;
        letter-spacing: 0.6px;
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 9vh;
    }
}



/* Page-2 */
#div2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("./images/computer.jpg");
    background-size: 100% 100%;
    text-align: center;
    position: relative;
}

.p2_content{
    background-color: rgba(3, 3, 3, 0.7);
    height: 100vh;
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
}

#div2 div img {
    width: 100px;
    height: 100px;
    margin-top: 10%;
}

#div2 div h1 {
    color: orange;
    margin: 30px auto 30px;
    font-size: 1.6rem;
    text-transform: uppercase;
}

#div2 div p {
    color: white;
    letter-spacing: 0.2px;
    font-size: 1rem;
    line-height: 1.6;
}

/* Page-3 */
#div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-image: url("./images/skillss.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.skill-title {
    text-align: center;
}

.skill-title h1 {
    color: orange;
    text-shadow: 2px 2px 4px black;
    margin-top: 15px;
    text-transform: uppercase;
}

.skill-set {
    display: flex;
    justify-content: space-evenly;
}

.skills {
    background-color: rgb(247, 202, 120, 1);;
    width: 8vw;
    height: 85px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: black;
    border-radius: 5px;
    margin: 20px;
}

.skills img {
    width: 40px;
    height: 40px;
}

.skills h3 {
    margin: 4px;
    font-size: 16px;
    text-shadow: 1px 1px 1.5px white;
    overflow: hidden;
}

.skills p {
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 600;
}
.p3-lower-part{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin-bottom: 10vh;
    background-color: rgba(221, 216, 216, 0.7);
    box-shadow: 5px 5px 10px black,  -5px -5px 10px black;
}
.p3_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.p3_cont h2{
    color: black;
    font-size: 18px;
}

/* For Responsiveness Page-3 */

@media screen and (min-width: 350px) and (max-width: 540px){
    #div3{
        background-image: url("./images/skillss1.jpg");
        background-size: 100% 100%;
    }
    .skill-title h1 {
        text-shadow: 2px 2px 4px black;
        margin-top: 4vh;
    }
    .skill-set {
        display: flex;
        justify-content: space-between;
    }
    .skills {
        width: 20vw;
        height: 10vh;
        overflow: auto;
        margin-top: 5px;
        margin: 5px;
    }
    .skills img {
        width: 22px;
        height: 22px;
    }
    .skills h3{
        font-size: 12px;
        margin: 2px;
        overflow: hidden;
    }
    .p3-lower-part{
        align-items: center;
        margin-bottom: 10vh;
        width: 80vw;
        background-color: rgba(221, 216, 216, 0.7);
        box-shadow: 5px 5px 10px black,  -5px -5px 10px black;
        border-radius: 8px;
    }
    .p3_cont{
        align-items: center;
        margin-top: 10px;
    }
    .p3_cont h2{
        color: black;
        font-size: 18px;
        /* margin-left: 8px; */
        padding-bottom: 5px;
        text-align: center;
        margin-left: 0;
    }
}


/* Page-education */
#div6 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    background-image: url("./images/edu1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.p6_heading{
    color: orange;
    text-shadow: 2px 2px 4px black;
    margin-top: 20px;
    text-transform: uppercase;
}
.p6_desc{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
.p6_details{
    width: 50vw;
    height: 22vh;
    /* padding: 5px; */
    margin-bottom: 4vh;
    margin-top: 5px;
    background-color: rgba(221, 216, 216, 0.6);
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 5px 5px 6px black,  -5px -5px 6px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.p6_details h3{
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;

}
.p6_details_inner{
    font-size: 12.5px;
    font-style: italic;
    width: 25vw;
    position: absolute;
    top: 6vh;
}
pre{
    text-align: center;
}



@media screen and (min-width: 350px) and (max-width: 540px){
    #div6{
        background-image: url("./images/education.jpg"); 
        background-size: cover;
    }
    .p6_desc{
        height: 70vh;
        margin-bottom: 5vh;
    }
    .p6_details{
        width: 90vw;
        height: 18vh;
        margin-bottom: 3vh;
        background-color: rgba(252, 243, 243, 0.7);
        box-shadow: 2px 2px 4px orange,  -2px -2px 4px orange;
        text-align: center;
    }
    .p6_details h3{
        font-size: 14px;
    }
    .p6_details_inner{
        font-size: 12px;
        width: 80vw;
    }
}


/* Page-4 */
#div4 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-image: url("./images/projectt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#div4 h1{
    color: orange;
    text-shadow: 2px 2px 4px black;
    margin-top: 20px;
    text-transform: uppercase;
    overflow: hidden;
}
#div4 p{
    color: white;
}
#div4_content{
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.project_list{
    margin-top: 20px;
    padding: 10px;
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration-style: none;
    list-style-type: none;
}
.project_listitem{
    padding: 20px;
    width: 50vw;
    margin-bottom: 10px;
    background-color: rgba(1, 1, 1, 0.8);
    box-shadow: 5px 5px 10px white;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 22px;
    position: relative;
    overflow: hidden;
}
.project_links{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
.project_links:hover{
    color: orange;
}
.fa-arrow-right{
    position: absolute;
    right: 20px;
}

/* 
For Responsiveness of Page-4 */
@media screen and (min-width: 350px) and (max-width: 540px){
    #div4 {
        background-image: url("./images/project.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .project_listitem{
        padding: 20px 10px 20px;
        width: 90vw;
        font-size: 18px;
    }
    .project_links{
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    .fa-arrow-right{
        position: absolute;
        right: 15px;
    }
}






/* Page-5 */
#div5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("./images/computer.jpg");
    background-size: 100% 100%;

}

#div5-content {
    background-color: rgba(3, 3, 3, 0.3);
    height: 100vh;
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

#div5-content h1 {
    color: orange;
    text-shadow: 2px 2px 4px black;
    margin-top: 10%;
    margin-bottom: 10px;
    padding: 2px;
}

#div5-content p {
    color: white;
    font-size: 0.8rem;
    padding: 2px;
    margin-bottom: 8px;
    text-shadow: 1px 1px 2px black;
}

#name, #email, #btn {
    width: 50vw;
    height: 5vh;
    margin: 3px;
    padding: 1.5px;
}
#btn{
    background-color: grey;
    font-weight: 600;
    border: none;
}

#btn:hover {
    background-color: rgb(247, 202, 120);
    border: none;
    outline: none;
    cursor: pointer;
}

#msg {
    width: 50vw;
    margin: 3px;
    font-family: inherit;
    padding: 1.5px;
}

form input:focus {
    outline: none;
}

form textarea:focus {
    outline: none;
}

.arrow-up::after {
    content: "";
    /* background-color: tomato; */
    width: 35px;
    height: 35px;
    position: absolute;
    /* important */
    margin: auto;
    top: 34rem;
    bottom: 0;
    left: 0;
    right: 0;
    border-left: 4px solid rgba(230, 110, 31, 0.8);
    border-top: 4px solid rgba(230, 110, 31, 0.8);
    transform: rotate(45deg);
    cursor: pointer;
}






/* For Responsivenss */
@media screen and (min-width: 359px) and (max-width: 540px) {
    /* Page-2 */
    #div2 div img {
        margin-top: 15%;
        width: 80px;
        height: 80px;
    }
    #div2 div p{
        text-align: justify;
        font-size: 15px;
    }


    /* Page-4    */
    #div5-content {
        padding-left: 5%;
        padding-right: 5%;
    }
    #div5-content h1 {
        margin-top: 25%;
        padding: 2px;
    }
    #div5-content p {
        font-size: 0.6rem;
        padding: 2px;
    }
    #name, #email, #btn {
        width: 74vw;
        padding: 1.5px;
    }
    #msg {
        width: 74vw;
    }
}

@media screen and (min-height: 360px) and (max-height: 600px){
    .arrow-down::after {        
        width: 25px;
        height: 25px;
        position: absolute;
        margin: auto;
        top: 25rem;
        bottom: 0;
        left: 0;
        right: 0;
       
    }
    #div1 h1 {
        margin: 0.8rem;    
    }
    #div1 i {
        font-size: 1.2rem;
    }
    
    #div1 p {
        margin-top: 0.5rem;
        letter-spacing: 0.2px;
        font-size: 1rem;
    }
}